<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to (JobSeeker) </title>

    <style>
        .custom-button {
            margin: auto;
            width: 500px;
            height: 100px;
            text-align: center;
        }
        .image {
            margin: auto;
            text-align: right;
        }

        .float-container {
            display: flex;
            vertical-align: 10px;
        }

        .float-child {
            flex: 1;
            vertical-align: 10px;
        }


    </style>
</head>
<body>

<div class = "float-container">

<div class="float-child">
    <div class="float-child">
    <img class = "image" width="400" height="400" src="https://th.bing.com/th/id/R.8f4e715ac51744f15ac69666e9ef19f2?rik=DyNjJkoU8HUH5w&pid=ImgRaw&r=0" alt="Profile">
    </div>
    <div class="float-child">
    <button type="Button"  class="custom-button" id = "button1">Job Seeker</button>
    </div>
</div>

<div class ="float-child">
    <div>
    <img width="400" class = "image" height="400" src="https://icon-library.com/images/business-icon/business-icon-9.jpg" alt="Profile">
    </div>
    <div class="float-child">
        <button type="Button" class = "custom-button" id = "button2">Employer</button>
    </div>
</div>

</div>
<script>
    var button1 = document.getElementById("button1");
    var surveyLink = "http://127.0.0.1:8000/jobSite/register/";
    var employerLink = "http://127.0.0.1:8000/jobSite/employer";

    button1.addEventListener("click", function() {
        window.location.href = surveyLink;
    });

    button2.addEventListener("click", function() {
        window.location.href = employerLink;
    });

</script>

</body>
</html>